/* Volume */
.volumeId>.thumb {
    -fx-background-color:  #2e2e2e;
}
.volumeId>.animated-thumb {
    -fx-background-color:  #2e2e2e;
}
.volumeId>.colored-track{
    -fx-background-color: linear-gradient(to right, #303030, #7104c9);
}


/* Timer */
.Time>.thumb{
    -fx-background-color: #2e2e2e;
}
.Time>.animated-thumb{
    -fx-background-color:  #2e2e2e;
}
.Time>.colored-track{
    -fx-background-color: linear-gradient(to right, #303030, #7104c9);
}

.UpLoadId{
    -fx-background-color: linear-gradient(to left,  #6acdd4, #b251ff);
}

.combo-box .cell:selected {
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #303030;
    -fx-text-fill: #6acdd4;
    -fx-background-radius: 25;
}